<div id="bahnen">
  <p id="indexTermin"> 
  Sie haben eine bestimmte Zeit in aussicht und möchten prüfen ob Ihr Wunschtermin noch frei ist?
  <%= link_to "Termin wählen -->", new_reservation_path %>  
  </p>

  <p id="indexSuche"> 
  ... oder möchten Sie sich Termine für einen gewählten Zeitraum vorschlagen lassen? 
  <%= link_to "Termin suchen -->", search_reservations_path %>  
  </p> 
</div>
