<div id="login">
  <% if user_signed_in? %>
    Singed in as <%= current_user.full_name %> |
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% # link_to "delete account", user_registration_path(current_user), :method => :delete, :confirm => "Are you sure?" %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path%> | <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>

