<div id="login" class="content_box">
  <% if user_signed_in? %>
    Hallo <%= current_user.full_name %>! |
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <% # link_to "delete account", user_registration_path(current_user), :method => :delete, :confirm => "Are you sure?" %>
  <% else %>
    <%= link_to "Registrieren", new_user_registration_path%> | <%= link_to "Login", new_user_session_path %>
  <% end %>
</div>
<div class="clear"></div>
