<div id="configs">
  <input id="office_hour_list" type="text" value="<%= office_hour_list.to_json %>"/>

  <input id="current_start_time" type="text" value="<%= reservation.start_time.to_i %>"/>

  <input id="holiday_list" type="text" value="<%= holiday_list %>" /> 
</div>
