<%= form_tag new_reservation_path, :remote => true do -%>
<table>
<tr>
<td>Datum: </td>
<td><input type="text" id="datum1" /></td>  
</tr>
<tr>
<td>Von: </td>
<td><input id="zeit1" type="text" name="select[start_time]"/></td>
</tr>
<tr>
<td>bis: </td>
<td><input id="zeit2" type="text" name="select[end_time]" /></td>
</tr>
</table>
<input id="date_field" type="hidden" value="<%= @reservation.date %>" name="select[date]"/>
<input id="current_date" type="hidden" value="<%= @reservation.date %>" name="select[current_date]"/>
<%= submit_tag 'Finden' %>
<% end -%>
